form {
    margin-top: 20px;
    padding: 20px;
    font-family: "Your Font Family", sans-serif;
}

input,
textarea,
select {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding: 10px;
    margin-bottom: 10px; 
    width: 100%;
}

label {
    width: 99%;
    display: block;
    margin-bottom: 5px; 
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-field {
    width: 48%; 
}
